@font-face {
    font-family: 'CAIXAStdVariable';
    src: url('../fonts/CAIXAStdVariable.woff2') format('woff2');
}

/* Cores principais */
:root {
    --azul-principal: #005ca9;
    --laranja: #d87b00;
    --cinza: #d0e0e3;
    --gradiente-oceano: linear-gradient(#005ca9 0%, #54bbab 100%);
}

/* Estilos globais */
body {
    font-family: 'CAIXAStdVariable', sans-serif;
    background-color: var(--cinza);
    /* background: var(--gradiente-oceano); */
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--azul-principal);
    text-align: center;
}

/* Número do Contrato: */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--laranja);
    color: #fff;
    width: 120px;
    margin-bottom: 15px;
    margin-left: calc(100% - 120px);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c56c00;
}

button.btn-primary {
    background-color: var(--laranja);
    color: #fff;
    border: none;
    margin-left: 5px;
}

button.btn-primary:hover {
    background-color: #c56c00;
}

button.btn-secondary {
    background-color: var(--azul-principal);
    color: #fff;
    border: none;
}

button.btn-secondary:hover {
    background-color: #004080;
}

.button-group {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.button-group-cadastro {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.consulta-form {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.consulta-form input[type="text"] {
    width: 200px;
    margin: auto;
    margin-left: 10px;
    margin-right: -420px;
    /* text-align: center; */
}

.consulta-form button{
    margin: auto;
    margin-left: calc(100% - 120px);
    margin-bottom: 2px;
}

.header {
    background-color: var(--azul-principal);
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-left {
    margin-left: 10px;
}

.header-logo {
    width: 40px;
    height: auto;
}

.header-title {
    color: #fff;
    font-size: 1.5em;
    margin-left: 20px;
    flex-grow: 1;
}

.header-nav a {
    color: #fff;
    font-weight: bold;
    margin: 0 15px;
}

.header-nav a:hover {
    color: var(--laranja);
    /* font-weight: bold; */
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin: 20px;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.progress-bar {
    position: fixed;
    top: 110px;
    right: 44px;
    z-index: 1000;
    margin-top: 10px;
    width: 280px;
    height: 5px;
    background-color: #479b2d67;
    border-radius: 0 0 4px 4px;
    transform-origin: left;
    animation: progressBar 5s linear forwards;
}

@keyframes progressBar {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}


table {
    width: 96%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--azul-principal);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: var(--azul-principal);
    text-decoration: none;
}

a:hover {
    color: var(--laranja);
    text-decoration-thickness: bold;
    /* text-decoration: underline; */
}
